In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests
#import API key
from config import g_key

In [2]:
#store the CSV we saved and created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Malakal,SS,2022-04-02 19:58:25,9.5334,31.6605,92.35,12,75,5.01
1,1,Mataura,NZ,2022-04-02 19:58:26,-46.1927,168.8643,47.79,95,68,2.86
2,2,Jamestown,US,2022-04-02 19:56:57,42.0970,-79.2353,49.51,35,100,4.00
3,3,Khuldabad,IN,2022-04-02 19:58:26,20.0500,75.1833,80.67,18,100,7.96
4,4,Rio Tercero,AR,2022-04-02 19:58:27,-32.1730,-64.1141,74.80,27,0,18.79

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
lat           float64
lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
len(city_data_df)

587

In [5]:
#configure gmaps to use my Google API key.
gmaps.configure(api_key =  g_key)

#1. Assign locations to an array of lat and lng pairs
locations = city_data_df[['lat','lng']]
#2. Assign the weights variable to some values.
max_temp = city_data_df['Max Temp']
#3. assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()
#4 assign the heatmap_layer variable to the heatmap_layer attribute 
#and add in the locations
#heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#change list to match the adjusted looped list to remove <0 values.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0)for temp in max_temp])
#5. add the heatmap layer.
fig.add_layer(heatmap_layer)
#6 call the figure to plot the data

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#ask the customer what temperatures they want
min_temp = float(input("What is the minimum temperature you would like for your trip?  "))
max_temp = float(input("What is the maximum temperature you would like for your trip?  "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [16]:
#filter dataset to find cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Khuldabad,IN,2022-04-02 19:58:26,20.0500,75.1833,80.67,18,100,7.96
5,5,Hobyo,SO,2022-04-02 19:58:27,5.3505,48.5268,81.70,72,47,12.12
8,8,Alamos,MX,2022-04-02 19:57:53,27.0167,-108.9333,88.43,13,4,7.34
20,20,Voi,KE,2022-04-02 19:58:31,-3.3945,38.5630,75.38,80,100,5.75
24,24,Meulaboh,ID,2022-04-02 19:58:33,4.1363,96.1285,77.68,85,96,1.81
30,30,Kavaratti,IN,2022-04-02 19:58:35,10.5669,72.6420,82.44,72,10,3.51
34,34,Arraial Do Cabo,BR,2022-04-02 19:58:36,-22.9661,-42.0278,80.46,78,75,13.80
35,35,Coahuayana,MX,2022-04-02 19:55:31,18.7333,-103.6833,86.61,43,87,8.97
43,43,Koppal,IN,2022-04-02 19:58:38,15.3500,76.1500,81.21,60,14,10.13
46,46,Hambantota,LK,2022-04-02 19:59:39,6.1241,81.1185,79.00,82,18,5.01

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "lat", "lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      lat       lng Hotel Name
3         Khuldabad      IN     80.67  20.0500   75.1833
5             Hobyo      SO     81.70   5.3505   48.5268
8            Alamos      MX     88.43  27.0167 -108.9333
20              Voi      KE     75.38  -3.3945   38.5630
24         Meulaboh      ID     77.68   4.1363   96.1285
30        Kavaratti      IN     82.44  10.5669   72.6420
34  Arraial Do Cabo      BR     80.46 -22.9661  -42.0278
35       Coahuayana      MX     86.61  18.7333 -103.6833
43           Koppal      IN     81.21  15.3500   76.1500
46       Hambantota      LK     79.00   6.1241   81.1185

In [22]:
hotel_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

In [23]:
params = {
    'radius': 5000,
    "type" : "lodging",
    'key' : g_key
}

In [28]:
#iterate through the dataframe
for index, row in hotel_df.iterrows():
    #get lat/lng
    lat = row['lat']
    lng = row['lng']
    
    #add lat and lng to location key for params dict
    params['location']= f"{lat},{lng}"
    
    #use search term :"lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make rq and get JSON data from search
    hotels = requests.get(base_url, params=params).json()
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,lat,lng,Hotel Name
3,Khuldabad,IN,80.67,20.0500,75.1833,Capital O 29643 Etranger Resort
5,Hobyo,SO,81.70,5.3505,48.5268,Iftin hotel hobyo
8,Alamos,MX,88.43,27.0167,-108.9333,Luz del Sol
20,Voi,KE,75.38,-3.3945,38.5630,Voi Wildlife Lodge
24,Meulaboh,ID,77.68,4.1363,96.1285,Kost Pria
30,Kavaratti,IN,82.44,10.5669,72.6420,Hotels in Lakshadweep Islands
34,Arraial Do Cabo,BR,80.46,-22.9661,-42.0278,Pousada Porto Praia
35,Coahuayana,MX,86.61,18.7333,-103.6833,El rranchito michuacan de ocampos
43,Koppal,IN,81.21,15.3500,76.1500,OYO 37740 Hotel Manik Residency
46,Hambantota,LK,79.00,6.1241,81.1185,Bungalow 63

In [31]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = preferred_cities_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = preferred_cities_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [33]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = preferred_cities_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = preferred_cities_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))