## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,lat,lng,Max Temp,% Humidity,% Cloudiness,Wind Speed (mph),Weather Description
0,0,Port Alfred,ZA,-33.5906,26.8910,63.18,95,100,3.00,moderate rain
1,1,Hilo,US,19.7297,-155.0900,78.53,81,100,12.66,overcast clouds
2,2,Geraldton,AU,-28.7667,114.6000,75.61,88,75,6.91,broken clouds
3,3,Byron Bay,AU,-28.6500,153.6167,80.49,66,94,9.01,overcast clouds
4,4,Westport,US,41.1415,-73.3579,48.33,52,0,5.99,clear sky

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What would you like the minimum temperature to be for your trip?  "))
max_temp = float(input("What would you like the maximum temperature to be for your trip?  "))

What would you like the minimum temperature to be for your trip?  65
What would you like the maximum temperature to be for your trip?  85

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#filter dataset to find cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,lat,lng,Max Temp,% Humidity,% Cloudiness,Wind Speed (mph),Weather Description
1,1,Hilo,US,19.7297,-155.0900,78.53,81,100,12.66,overcast clouds
2,2,Geraldton,AU,-28.7667,114.6000,75.61,88,75,6.91,broken clouds
3,3,Byron Bay,AU,-28.6500,153.6167,80.49,66,94,9.01,overcast clouds
5,5,Salalah,OM,17.0151,54.0924,75.29,57,0,1.14,clear sky
7,7,Kapaa,US,22.0752,-159.3190,80.58,75,100,21.85,overcast clouds
8,8,Coahuayana,MX,18.7333,-103.6833,78.37,58,77,6.82,broken clouds
11,11,Carnarvon,AU,-24.8667,113.6333,75.27,88,75,9.22,light rain
12,12,Busselton,AU,-33.6500,115.3333,70.00,88,74,12.06,broken clouds
18,18,Arraial Do Cabo,BR,-22.9661,-42.0278,76.26,89,93,16.58,overcast clouds
25,25,Saint-Philippe,RE,-21.3585,55.7679,73.11,96,100,16.82,heavy intensity rain

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                292
City                   292
Country                290
lat                    292
lng                    292
Max Temp               292
% Humidity             292
% Cloudiness           292
Wind Speed (mph)       292
Weather Description    292
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,lat,lng,Max Temp,% Humidity,% Cloudiness,Wind Speed (mph),Weather Description
1,1,Hilo,US,19.7297,-155.0900,78.53,81,100,12.66,overcast clouds
2,2,Geraldton,AU,-28.7667,114.6000,75.61,88,75,6.91,broken clouds
3,3,Byron Bay,AU,-28.6500,153.6167,80.49,66,94,9.01,overcast clouds
5,5,Salalah,OM,17.0151,54.0924,75.29,57,0,1.14,clear sky
7,7,Kapaa,US,22.0752,-159.3190,80.58,75,100,21.85,overcast clouds
8,8,Coahuayana,MX,18.7333,-103.6833,78.37,58,77,6.82,broken clouds
11,11,Carnarvon,AU,-24.8667,113.6333,75.27,88,75,9.22,light rain
12,12,Busselton,AU,-33.6500,115.3333,70.00,88,74,12.06,broken clouds
18,18,Arraial Do Cabo,BR,-22.9661,-42.0278,76.26,89,93,16.58,overcast clouds
25,25,Saint-Philippe,RE,-21.3585,55.7679,73.11,96,100,16.82,heavy intensity rain

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "lat", "lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,lat,lng,Hotel Name
1,Hilo,US,78.53,overcast clouds,19.7297,-155.0900,
2,Geraldton,AU,75.61,broken clouds,-28.7667,114.6000,
3,Byron Bay,AU,80.49,overcast clouds,-28.6500,153.6167,
5,Salalah,OM,75.29,clear sky,17.0151,54.0924,
7,Kapaa,US,80.58,overcast clouds,22.0752,-159.3190,
8,Coahuayana,MX,78.37,broken clouds,18.7333,-103.6833,
11,Carnarvon,AU,75.27,light rain,-24.8667,113.6333,
12,Busselton,AU,70.00,broken clouds,-33.6500,115.3333,
18,Arraial Do Cabo,BR,76.26,overcast clouds,-22.9661,-42.0278,
25,Saint-Philippe,RE,73.11,heavy intensity rain,-21.3585,55.7679,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
#iterate through the dataframe
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    #get lat/lng
    lat = row['lat']
    lng = row['lng']
    
    #add lat and lng to location key for params dict
    params['location']= f"{lat},{lng}"
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    #use search term :"lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    #make rq and get JSON data from search
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [29]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,lat,lng,Hotel Name
1,Hilo,US,78.53,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Geraldton,AU,75.61,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
3,Byron Bay,AU,80.49,overcast clouds,-28.6500,153.6167,Backpackers Inn
5,Salalah,OM,75.29,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
7,Kapaa,US,80.58,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [30]:
# 8a. Create the output File (CSV)
#create the output file (CSV).
output_data_file = "Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["lat", "lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
# Heatmap of temperature
# Get the latitude and longitude.
locations = clean_hotel_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = clean_hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))